<div class="container">
<div class="center"><img style="margin: 20px;" src="<%= asset_path ("madeby_fin.png") %>"></div>

  
<!--크레딧 팝아웃  -->
  <ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header grey darken-3  active" style="color:#ffa726;"><i class="material-icons">filter_drama</i>만든 사람들</div>
      <div class="collapsible-body" style=" padding:0px;">
        <div class="center hotpink-5"><img style="background-color:white; width:100%; height:100%;" src="<%= asset_path ("credit.png") %>"></div
      </div>
    </li>
    <li>
      <div class="collapsible-header grey darken-3" style="color:#ffa726  "><i class="material-icons">place</i>팀 소개</div>
      <div class="collapsible-body" style="padding:0px;">
        <div class="center hotpink-5"><img style="background-color:white; width:100%; height:100%;" src="<%= asset_path ("credit2.png") %>"></div>

      </div>
    </li>
    <li>
      <div class="collapsible-header grey darken-3 " style="color:#ffa726  "><i class="material-icons">whatshot</i>멋쟁이사자처럼이란?</div>
      <div class="collapsible-body" style="padding:0px;">
      <div class="center hotpink-5"><img style="background-color:white;  width:100%; height:100%;" src="<%= asset_path ("credit3.png") %>"></div>
      <div>
    </li>
  </ul>
  
</div>
