<!--로고-->
<div>
    <h1 class= "col s12 offset-s2">Daily Quest</h1>
</div>
<div class="row center">
    <h3>로그인</h3>
</div>

<!--로그인 form태그 -->
<div class="row">
    <form class="col s12 m6 l6">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12" style="font-family:serif;" >
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
    
    
<!--로그인/ 회원가입 버튼 태그-->
    <div class="col s12 m6 l6">
      <div class="col m6 l6">
        <a class="waves-effect waves-light btn-large blue darken-1" href="/login">로그인</a>
      </div>
      <div class="col m6 l6">
        <a class="waves-effect waves-light btn-large blue darken-1" href="/signup">회원가입</a>
      </div>
    </div>
</div>

 