 <!--로고-->
<div class="container row center hotpink-5 z-depth-3" style="padding:4em; margin-top:1em;">
  <div class="center" style="margin-top:25px; margin-bottom:25px;"><img style="margin: 20px;" src="<%= asset_path ("failed.png") %>"></div>
  <img src="/fail<%= @num %>.jpg" style ="size:100% 100%; padding-top:15px; padding-left:15px; ">
  <div class="center" style="margin-top:25px; margin-bottom:25px;"><img style="margin: 20px;" src="<%= asset_path ("failed-text.png") %>"></div>
</div>
