<!--로고-->
<div>
  <h1 class= "col s12 offset-s2">Daily Quest</h1>
</div>
<div class="row center">
  <h3>회원가입</h3>
</div>




<div class="row">
    <form class="col s12 m12 l12">
      <div class="row">
      	<i class="material-icons col s1 m1 l1">people</i>
      	<span class="col s1 m1 l1">닉네임</span>
        <div class="input-field col s10 m4 l4">
          <input placeholder="내용을 입력해주세요." id="first_name" type="text" class="validate">
          <label for="first_name">닉네임</label>
        </div>
      </div>
      <div class="row">
      	<i class="material-icons col s1 m1 l1">mail</i>
      	<span class="col s1 m1 l1">이메일</span>
        <div class="input-field col s12 m4 l4">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
      	<i class="material-icons col s1 m1 l1">vpn_key</i>
        <div class="input-field col s12 m4 l4">
        <span class="col s1 m1 l1">패스워드</span>  
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
       <div class="row">
       	<i class="material-icons col s1 m1 l1">vpn_key</i>
       	<span class="col s1 m1 l1">패스워드 확인</span>
        <div class="input-field col s12 m4 l4">
          <input id="password" type="password" class="validate">
          <label for="password">Re-Password</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn" href="/index">회원가입</a>
      </div>
    </form>
  </div>